
body {
  background: rgb(204,204,204); 
}
page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
  width: 21cm;
  height: 29.7cm; 
}
page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;  
}
page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}
page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;  
}
page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}
page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;  
}
@media print {
  body, page {
    margin: 0;
    box-shadow: 0;
  }
}

#parent2 {
  position: relative;
}

#child2 {
 position: absolute;
    top: 312px;
    right: 15px;
    left: 167px;
    max-width: 180px;
}

#child19 {
 position: absolute;
    top: 369px;
    right: 15px;
    left: 167px;
    max-width: 180px;
}

#child3 {
  position: absolute;
  top: 259px;
  right: 15px;
  left: 277px;
  max-width: 180px;
}

#child4 {
    position: absolute;
    top: 335px;
    right: 15px;
    left: 404px;
    max-width: 300px;
}

#child5 {
  position: absolute;
  top: 708px;
  right: 15px;
  left: 119px;
  max-width: 180px;
}

#child17 {
position: absolute;
    top: 33px;
    right: 15px;
    left: 82px;
    max-width: 180px;
}

#child18 {
  position: absolute;
    top: 497px;
    right: 15px;
    left: 489px;
}

#child10 {
  position: absolute;
  top: 708px;
  right: 15px;
  left: 237px;
  max-width: 180px;
}

#child11 {
  position: absolute;
  top: 708px;
  right: 15px;
  left: 348px;
  max-width: 180px;
}

#child12 {
  position: absolute;
  top: 708px;
  right: 15px;
  left: 450px;
  max-width: 180px;
}

#child13 {
  position: absolute;
  top: 708px;
  right: 15px;
  left: 556px;
  max-width: 180px;
}

#child14 {
   position: absolute;
    top: 399px;
    right: 15px;
    left: 637px;
    max-width: 180px;
}

#child15 {
   position: absolute;
    top: 368px;
    right: 15px;
    left: 633px;
    max-width: 180px;
}

#child16 {
 position: absolute;
    top: 368px;
    right: 15px;
    left: 339px;
    max-width: 180px;
}


#child6 {
  position: absolute;
  top: 284px;
  right: 15px;
  left: 320px;
  max-width: 100px;
}

#child7 {
      position: absolute;
    top: 310px;
    right: 15px;
    left: 590px;
    max-width: 180px;
}


#child8 {
      position: absolute;
    top: 399px;
    right: 15px;
    left: 160px;
    max-width: 180px;
}

